

header{
  width: 100%;;
  padding: 10px;
}

body{
  width: 100%;
}
footer{
  background-color: #333;
}
.nav{
  list-style-type: none;
  font: Arial;
  color: #cfcfcf;
}
footer p{
  margin-left: 10px;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  font-family: Arial;
}
.button{
  background-color: #1589FF;
  padding: 5px;
  color: #fff;
  font-family: Arial;
  text-decoration: none;
  font-size: 24px;
  border-radius: 3px;
  border: 1px solid blue;
  padding-left: 40px;
  padding-right: 40px;
}
.add-contact-button{
  background-color: #1589FF;
  padding: 5px;
  color: #fff;
  font-family: Arial;
  text-decoration: none;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid blue;
  padding-left: 20px;
  padding-right: 20px;
}
.clear{
  clear: both;
  padding: 10px;
}
input{
  font-size: 24px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid yellow;
  padding: 5px;
  font-family: Arial;
}
label{
  font-family: Arial;
  font-size: 24px;
  color: #333;
}
.login{
  padding-top: 50px;
  padding-bottom: 250px;
}
.background{
  background-image: url("../img/hero.jpg");
  height: 550px;
  width: 100%;
}
.pic{
  border-radius: 100%;
  text-align: center;
  padding: 10px;
}
.friends{
  text-align: center;
}
.contacts{
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #ffc425;
  font-size: 14px;
  color: #333;  
  padding: 10px 0px;
}
.text{
    font-size: 14px;
    color: #333; 
    vertical-align: middle;
}
.text2{
    font-size: 18px;
    color: #333; 
}
.padding{
  padding: 10px;
}
.clearfix{
  clear: both;
  padding-top: 10px;
}

h2{
  font-size: 24px;
  font-family: Arial;
  padding-left: 10px;
}
h1{
  font-size: 14px;
  font-family: Arial;
  padding: 10px;
  color: #333;
}
p{
  font-size: 14px;
  font-family: Arial;
  padding-left: 10px;
}
a{
  color: #1589FF;
  text-decoration: none;
}
.mbox{
  width: 100%;
  border: 1px solid #cfcfcf;
  font-family: Arial;
  font-size: 14px;
  height: 80px;
}
.bubble 
{
position: relative;
color: #333;
width: 100%;
height: 90px;
padding: 10px;
background: #Ffc245;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 6px 28px 6px 0;
border-color: transparent #Ffc245;
display: block;
width: 0;
z-index: 1;
left: -28px;
top: 16px;
}

.bubble:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 6px 28px 6px 0;
border-color: transparent #cfcfcf;
display: block;
width: 0;
z-index: 0;
left: -29px;
top: 16px;
}
.bubble2
{
position: relative;
color: #fff;
width: 100%;
height: 90px;
padding: 10px;
background: #00ace2;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

.bubble2:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 6px 0 6px 28px;
border-color: transparent #00ace2;
display: block;
width: 0;
z-index: 1;
right: -28px;
top: 16px;
}

.bubble2:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 6px 0 6px 28px;
border-color: transparent #cfcfcf;
display: block;
width: 0;
z-index: 0;
right: -29px;
top: 16px;
}